:root {
  --background-color: #ffffff;
  --secodary-background-color: #b3b3b3;
  --text-color: #000000;
  --primary-color: #4ca3ff;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", serif;
}
body:has(#darkmode-toggle:checked) {
  --background-color: #252525;
  --secodary-background-color: #565656;
  --text-color: #ffffff;
  --primary-color: #1e90ff;
}

nav {
  background-color: var(--secodary-background-color);
  border-bottom: solid 4px var(--primary-color);
  display: flex;
  align-items: center;
  padding: 0px 16px;
}

nav a {
  padding: 14px 16px;
  text-decoration: none;
  color: var(--text-color);
  transition: 300ms;
}
nav a.active {
  background-color: var(--primary-color);
}
nav a:hover {
  background-color: var(--background-color);
}
.theme-toggle {
  cursor: pointer;
  margin-left: auto;
}

.theme-toggle input {
  display: none;
}

.toggle-darkmode {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url("img/moon-icon.svg") no-repeat center center / contain;
}
#darkmode-toggle:checked + .toggle-darkmode {
  background: url("img/sun-icon.svg") no-repeat center center / contain;
}
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  align-content: center;
}

.top-container {
  margin-top: 30px;
  max-width: 700px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  background-color: var(--secodary-background-color);
}
.top-bottom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: solid 4px var(--background-color);
}
.top-bottom-container li {
  padding: 10px;
}
.top-bottom-container .time-span {
  margin: 5px;
  padding: 5px;
  background-color: var(--primary-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.container-header{
  display: flex;
  align-items: center;
  gap: 20px;
}
.container-header img{
  width: 30px;
}

footer {
  margin: 0;
  padding: 10px;
  background-color: var(--secodary-background-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer > div {
  margin: 20px;
  max-width: 600px;
}
